<header class="app-header">
    <nav>
      <div class="logo">
        <a routerLink="/">YG Production </a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/techniciens">Techniciens</a></li>
        <li><a routerLink="/machines">Machines</a></li>
        <li><a routerLink="/produits">Produits</a></li>
        <li><a routerLink="/fournisseurs">Fournisseurs</a></li>
        <li><a routerLink="/maintenances">Maintenances</a></li>
        <li><a routerLink="/ordres">Ordres de Fabrication</a></li>
      </ul>
    </nav>
  </header>