<div class="container">

<h2>Ajouter une Maintenance</h2>

<form [formGroup]="maintenanceForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Type:</label>
    <input type="text" formControlName="type" required />
  </div>

  <div>
    <label>Date:</label>
    <input type="date" formControlName="date" required />
  </div>

  <div>
    <label>Machine:</label>
    <select formControlName="machine">
      <option *ngFor="let machine of machines" [ngValue]="machine">{{ machine.nom }}</option>
    </select>
  </div>

  <div>
    <label>Technicien:</label>
    <select formControlName="technicien">
      <option *ngFor="let technicien of techniciens" [ngValue]="technicien">{{ technicien.nom }}</option>
    </select>
  </div>

  <button type="submit" [disabled]="maintenanceForm.invalid">Ajouter</button>
      <button (click)="goBack()">Retour</button>

</form>
</div>
